[submodule "build"]
	path = build
	url = https://github.com/OctopusNetwork/build
[submodule "source/3rd"]
	path = source/3rd
	url = https://github.com/OctopusNetwork/3rd
[submodule "source/libonlogger"]
	path = source/libonlogger
	url = https://github.com/OctopusNetwork/libonlogger
[submodule "source/libonplatform"]
	path = source/libonplatform
	url = https://github.com/OctopusNetwork/libonplatform
[submodule "source/libonencoding"]
	path = source/libonencoding
	url = https://github.com/OctopusNetwork/libonencoding
[submodule "source/libonevent"]
	path = source/libonevent
	url = https://github.com/OctopusNetwork/libonevent
[submodule "source/libontcpeng"]
	path = source/libontcpeng
	url = https://github.com/OctopusNetwork/libontcpeng.git
[submodule "source/liboncommunication"]
	path = source/liboncommunication
	url = https://github.com/OctopusNetwork/liboncommunication.git
[submodule "source/libonhttpd"]
	path = source/libonhttpd
	url = https://github.com/OctopusNetwork/libonhttpd.git
